.wishlist {
    background-color: white;
    height: 900px;
    position: relative;
    width: 100%;
}

.wishlist .image-2 {
    height: 464px;
    object-fit: cover;
    position: relative;
    width: 464px;
    margin:0 auto;
    display: -webkit-box;
}

.wishlist .overlap-group3 {
    height: 17px;
    left: 643px;
    position: absolute;
    top: 124px;
    width: 123px;
}

.wishlist .place {
    color: #00000099;
    font-family: Roboto;
    font-size: small;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
}

.wishlist .wishlist-1 {
    color: black;
    font-family: Roboto;
    font-size: small;
    font-weight: 700;
    left: 63px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
}

.wishlist .keyboardarrowright {
    height: 16px;
    left: 52px;
    position: absolute;
    top: 1px;
    width: 16px;
}

.wishlist .overlap-group {
    background-image: url(vector.svg);
    background-size: 100% 100%;
    height: 8px;
    left: 5px;
    position: relative;
    top: 4px;
    width: 6px;
}

.wishlist .vector {
    height: 1px;
    left: 3px;
    position: absolute;
    top: 4px;
    width: 1px;
}

.wishlist .text-1 {
    color: black;
    font-family: Roboto;
    font-size: medium;
    font-weight: 700;
    letter-spacing: 0;
    position: relative;
    text-align: center;
    width: 290px;
    height: 50px;   
    margin: 0 auto;
}

.wishlist .span0 {
    color: black;
    font-weight: 700;
}

.wishlist .span1 {
    color: #000000b2;
    font-size: small;
    font-weight: 400;
}

.wishlist .overlap-group4 {
    background-color: #fa0c0ce6;
    border-radius: 10px;
    height: 44px;
    position: relative;
    width: 132px;
    display: -webkit-box;
    margin:0 auto;

}

.wishlist .browse {
    color: white;
    font-family: Roboto;
    font-size: medium;
    font-weight: 700;
    height: 43px;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 132px;
}





@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Work+Sans:700");
.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    width: 1140px;
    margin: 0 auto;
    margin-top:60px;
    position: relative;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.wishlist .overlap-group9 {
    height: 17px;
    position: relative;
    width: 100%;
    font-family: Roboto;
    font-size: 14px;
    color: black;
    padding-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

/* navigation */

.wishlist .nav-bg {
    background-color: red;
    height: 52px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.wishlist .promosi {
    color: white;
    font-size: large;
    font-weight: bolder;
    font-family: Roboto;
    height: 16px;
    left: 931px;
    position: fixed;
    top: 17px;
    width: 80px;
}

.wishlist .produk-1 {
    color: white;
    font-size: large;
    font-weight: bolder;
    font-family: Roboto;
    height: 52px;
    left: 1028px;
    letter-spacing: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 96px;
}

.wishlist .ruangan {
    color: white;
    font-size: large;
    font-weight: bolder;
    font-family: Roboto;
    height: 52px;
    left: 1139px;
    letter-spacing: 0;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 96px;
}

.wishlist .transliving-logo {
    height: 37px;
    left: 168px;
    object-fit: cover;
    position: fixed;
    top: 11px;
    width: 221px;
}

.wishlist .wishlist_menu{
    height: 31px;
    left: 1294px;
    position: fixed;
    top: 14px;
    width: 31px;
}

.wishlist .overlap-group7 {
    height: 24px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 26px;
}

.wishlist .vector-1 {
    height: 1px;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 1px;
}

.wishlist .vector-2 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 26px;
}

.wishlist .search {
    height: 35px;
    left: 1363px;
    position: fixed;
    top: 10px;
    width: 36px;
}

.wishlist .overlap-group8 {
    height: 26px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 27px;
}

.wishlist .vector-3 {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* */

/* mobile below */

.mobile_menu_btn {
    display: none;
}

#mobile_menu .mm_close{
    display:none;
}

#mobile_menu .mm_item{
    display:none;
    padding-left:20px;
    padding-top:30px;
}

@media (max-width: 500px) {
    .container-center-horizontal {
        width: 90%;
    }

    .wishlist .transliving-logo {
        left: 28px;
    }

    .mobile_menu_btn {
        display: block;
        position: fixed;
        top:16px;
        left:16px;
        width: 20px;
        height: 20px;
        background-image:url(menu_icon.png);
        background-size:cover;
    }

    #mobile_menu {
        display:block;
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100vh;
        background-color: #434343;
        transition: left 1s;

    }

    #mobile_menu .mm_close{
        display:block;
        position:absolute;
        top:30px;
        left:165px;
        color: white;
        font-size: large;
        font-weight: bolder;
        font-family: Roboto;

    }

    #mobile_menu .mm_item{
        display:block;
        color: white;
        font-size: large;
        font-weight: bolder;
        font-family: Roboto;
    }

    .wishlist .wishlist {
        left: 280px;
        top:12px;
        height: 20px;
        width: 20px;
        object-fit: cover;
    }

    .wishlist .search {
        left: 320px;
        top:12px;
        width:20px;
        height: 20px;
        object-fit: cover;    
    }
    
    .wishlist .transliving-logo {
        height: 28px;
        left: 50px;
        object-fit: cover;
        position: fixed;
        top: 16px;
        width: 145px;
    }

    .wishlist img.image-2 {
    width: 100%;
    height: auto;
    }


}